*,
html,
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* This section for the main background */
.main {
    background-image: url(./assets/main-bg.jpg);
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-position: center center;
    height: 60rem;
    width: 100%;
}

/* this section for navbar
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 6.25rem;
    background-color: rgb(0, 0, 0, 0.5);
}

.nav-col2 {
    width: 30%;
    display: flex;
    padding-right: 20rem;
    justify-content: space-around;
}

.nav-col3 {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

@media (max-width: 800px) {
    nav {
        justify-content: center;
    }
    .nav-col2{
        flex-wrap: wrap;
        text-align: center;
    }


    .nav-col3{
        flex-wrap: wrap;
    }
} */