*,
html,
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* This section for the main background */
.main {
    background-image: url(./assets/main-bg.jpg);
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-position: center center;
    height: 60rem;
    width: 100%;
}

.h1-main {
    font-size: 4.5rem;
}

@media (max-width: 400px) {
    .h1-main {
        font-size: 3.5rem;
    }
}

.main-content {
    width: 100%;
    height: 85%;
}